<div class="widget">
	<h3 class="widget-title">Get in touch</h3>
	<div class="widget-content">
		<ul class="vcard">
			<li>
				<span class="vcard-icon"><i class="fa fa-envelope"></i></span>
				<span class="vcard-text">browardhorne@gmail.com</span>
			</li>
		</ul>
	</div>
</div>